.popup__job {
  padding: 0 0 13px 0;
  border-style: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__job:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .8);
}
