.element__like {
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  width: 24px;
  height: 19px;
  outline: 0;
  border: none;
  margin-right: 22px;
  align-self: center;
}

.element__like:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .element__like:hover {
    opacity: 1;
  }
}
