.popup__button_active {
  background-color: #000000;
  cursor: pointer;
}

.popup__button_active:focus {
  opacity: .8;
}

@media (hover: hover) {
  .popup__button_active:hover {
    opacity: .8;
  }
}

@media (hover: none) {
  .popup__button_active:active {
    opacity: .8;
  }
}


